body { font-family: Arial, Helvetica, sans-serif;  margin: 0; display: block; background: gainsboro; overflow: auto;}
#container { width: 90%; margin: 0 auto; margin-top: 5%; }
.modal { position: fixed; z-index: 1; left: 0; top: 0;  overflow: scroll;}
#box { width: 70%; padding: 20px 15% 20px 15%; display: block;  background: gainsboro;}
#box .modal-content { background-color: #fefefe; margin: 0 auto 0 auto; border: 1px solid #888; width: 80%; }
#box .imgcontainer { text-align: center; margin: 24px 0 12px 0; position: relative; }
/* The Close Button (x) */
.close {position: absolute; right: 25px; top: 0; color: #000; font-size: 35px; font-weight: bold; }
.close:hover,
.close:focus { color: red; cursor: pointer; }
/* The Image */
img.avatar {  border-radius: 20%; }
/* Content */
#content { padding: 16px; }
input[type=text], input[type=password] {width: 100%; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; box-sizing: border-box; }
/* Set a style for all buttons */
button { background-color: #4CAF50; color: white; padding: 14px 20px; margin: 8px 0; border: none; cursor: pointer; width: 100%; }
button:hover { opacity: 0.8; }
span.psw { float: right; padding-top: 16px; }
#content.psw {background-color: red; margin: 20px; padding: 20px;}


/*

<div id="box" class="modal">
    <form class="modal-content" action="/action_page.php" method="post">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close">x</span>
        <img src="../logo.png" width="20%" height="20%" class="avatar"></img>
      </div>
      <div id="content">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
      <div id="content" style="background-color:#f1f1f1">
        <p><a href="#">Chưa có password ?</a></p>
      </div>
    </form>
  </div>


*/